%%% -*- mode: erlang; flycheck-mode: nil -*-

{plugins, [
  {'lfe-compile', "0.8.0-rc2", {pkg, rebar3_lfe_compile}}
]}.

{provider_hooks, [{post, [{compile, {lfe, compile}}]}]}.

{deps, [
  {exemplar, "0.5.0-rc1"},
  {levaindoc, "0.7.0"},
  {jsx, "2.8.0"},
  {lfe, "1.2.0"}
]}.

{profiles, [
  {test, [
    {eunit_compile_opts, [{src_dirs, ["src", "test"]}]},
    {deps, [{ltest, "0.10.0-rc2"}]}
  ]}
]}.
