%%% -*- mode: erlang; flycheck-mode: nil -*-

{plugins, [
  {'lfe-compile', "0.6.0", {pkg, rebar3_lfe_compile}}
]}.

{overrides, [
  {override, 'lfe-compile', [
    {deps, [
      %% FIXME: use 1.2 or whatever once it's released
      %% {lfe, "1.1.1"}
      {lfe,
       {git, "git://github.com/rvirding/lfe.git",
        {branch, "develop"}}}
    ]}
  ]}
]}.

{provider_hooks, [{post, [{compile, {lfe, compile}}]}]}.

{deps, [
  %% FIXME: replace with {tag, "0.4.2"} once it exists
  %% {exemplar,  {git, "git://github.com/lfex/exemplar.git",          {tag, "0.4.2"}}},
  {exemplar,  {git, "git://github.com/yurrriq/exemplar.git",       {ref, "4f14ab3"}}},
  {levaindoc, {git, "git://github.com/quasiquoting/levaindoc.git", {tag, "0.6.1"}}},
  {jsx, "2.8.0"},
  %% FIXME: use 1.2 or whatever once it's released
  %% {lfe, "1.1.1"}
  {lfe,
   {git, "git://github.com/rvirding/lfe.git",
    {branch, "develop"}}}
]}.

{profiles, [
  {test, [
    {eunit_compile_opts, [{src_dirs, ["test"]}]},
    {deps, [{ltest, {git, "git://github.com/lfex/ltest.git", {tag, "0.9.0"}}}]}
  ]}
]}.
