{eunit_compile_opts, [{src_dirs, ["test"]}]}.

{plugins, [
  rebar3_proper,
  rebar3_lfe_compile
]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{deps, [
  lfe,
  clj,
  exemplar,
  {markdown,
   {git, "git://github.com/erlware/erlmarkdown.git",
    {branch, "master"}}},
  levaindoc
]}.

{lodox, [
  {apps, [
    {lodox, [
      {'source-uri',
       "https://github.com/lfe-rebar3/lodox/blob/"
       "{version}/{filepath}#L{line}"}
    ]}
  ]}
]}.

{profiles, [
  {test, [
    {erl_opts, [{src_dirs, ["src", "test"]}]},
    {deps, [
      {ltest, {git, "git://github.com/lfex/ltest.git", {tag, "0.8.0"}}},
      {proper,
       {git, "git://github.com/manopapad/proper.git",
        {branch, "master"}}}
    ]}
  ]}
]}.

{proper_opts, [
  {module, "lodox_parse_tests"},
  {spec_timeout, 30000},
  {numtests, 1000},
  {max_size, 10}
]}.
